@{
    ViewData["Title"] = "Left Sidebar";
}

<head>
<title>¡Bienvenida a DOLCE MΛDRE! | Moda de Maternidad</title>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
<link href="images/logo.ico" rel="icon" type="image/x-icon"/>
<link href="assets/~/css/main.css" rel="stylesheet"/>
</head>